
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  text-align: center;
  background-color: #f4f4f4;
}
header {
  background-color: #229954;
  color: white;
  padding: 20px;
}
main {
  padding: 20px;
}
footer {
  background-color: #ddd;
  padding: 10px;
  position: fixed;
  bottom: 0;
  width: 100%;
}
